<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件列表</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-table :data="fileList" border style="width: 100%">
        {{fileList}}
        <el-table-column prop="fileOriginalName" label="文件名称" min-width="180"></el-table-column>
        <el-table-column prop="filePath" label="文件路径名称" min-width="180"></el-table-column>
        <el-table-column prop="fileUrl" label="下载地址" min-width="380"></el-table-column>
        <el-table-column prop="createTime" label="上传时间" min-width="180"></el-table-column>
        <el-table-column label="操作" min-width="80">
            <template slot-scope="scope">
                <el-button size="mini" type="text" @click="handleDownload(scope.row)">下载</el-button>
                <el-button size="mini" type="text" @click="handleDelete(scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
</div>
<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                fileList: []
            }
        },
        mounted() {
            this.getList()
        },
        methods: {
            getList() {
                let that = this
                axios.get('/file/list').then(function (response) {
                    console.log(response);
                    console.log(that.fileList);
                    that.fileList = response.data.data
                });
            },
            handleDownload() {

            },
            handleDelete(row) {
                let qs = Qs
                let that = this
                axios.delete('/file/id', {
                    params: {'files': [row.fileId]},
                    paramsSerializer: params => {
                        return qs.stringify(params, {indices: false})
                    }
                }).then(function () {
                    that.getList()
                })
            }
        }
    })
</script>
</body>
</html>